.book-card {
  border: none;
}
.book-thumbnail-container {
  float: left;
  width: 20vw;
  /* height: 20vw; */
  margin: 10px;
  background-color: white;
  justify-content: center;
}

.img-not-found {
  display: block;
  margin: auto;
}

.search-page {
  min-height: 100vh;
  margin: 20px 20px;
}
