.inf-input {
    margin-left: 100px;
    margin-bottom: 26px;
    width: 80%;
    height: 40px;
    border-radius: 30px;
}

.edit-button {
    margin-top: 20px;
    margin-left: 90%;
    border-radius: 5px;
    background-color: #ffc700;
    border-color: #ffc700;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    width: 100px;
}

.inf-label-text {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 42px;
}

.inf-element {
    display: flex;
    flex-direction: row;
}

.edit-profile {
    background-color: #e5e5e5;
    min-height: 100vh;
    padding: 40px 60px;
}

.custom-file-input {
    color: transparent;
    margin-left: 15%;
    height: 30px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select some files';
    color: white;
    background: #ffc700;
    border-radius: 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    padding: 20px;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
}

