.profile-avatar {
  width: 100%;
  border-radius: 8px;
  align-self: center;
}

.profile-row {
  padding-right: 0;
}

.profile-col {
  padding: 30px;
  justify-content: space-between;
}

.profile-books-col {
  background-color: #e5e5e5;
  min-height: 100vh;
  padding: 40px 60px;
}

.profile-fullname {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.profile-id {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: grey;
}

.profile-info {
  padding: 10px 0px;
}

.info-title {
  color: grey;
}

.info-title h6 {
  padding-bottom: 15px;
}

.info-content {
  color: black;
  padding-top: 0.5rem;
}

.info-content h6 {
  padding-bottom: 15px;
}

.book-row-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 28px;
  font-weight: 900;
}

.book-image {
  width: 100%;
  object-fit: contain;
}

.book-container {
  float: left;
  width: 18%;
  height: 20vw;
  margin: 5px;
  background-color: white;
  justify-content: center;
  display: flex;
}

.book-row {
  content: "";
  clear: both;
  display: table;
}

.p-edit-button {
  display: block;
  border-radius: 5px;
  background-color: #ffc700;
  border-color: #ffc700;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 15px;
  min-width: 80px;
}

.d-container {
  display: flex;
  align-items: center;
}

.d-border {
  border-bottom: 1px solid grey;
  width: 100%;
}

.d-content {
  padding-right: 10px;
  color: grey;
}
