.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rcorners {
  border-radius: 25px;
  border: 2px solid white;
  width: 80vw;
  height: 80vh;
  margin: 0;
  padding: 0;
}

.dialog-bg {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: 80vh;
  width: 60vw;
  background: white;
  border-radius: 90px;
}

.block-center {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.signup-background {
  height: 100%;
  max-width: 100%;
  object-fit: fill;
}

.title {
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.signup-form {
  margin-left: 70px;
  margin-right: 70px;
}

.input {
  width: 400px;
  height: 45px;
  left: 49%;
  top: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 23px;
  border: 0;
  outline: 0;
  color: black;
  background: transparent;
  border-bottom: 1px solid black;
  margin-top: 35px;
  margin-bottom: 35px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 20px;
}

.icon {
  padding: 5px;
  min-width: 40px;
  color: grey;
}

.input-field {
  padding: 10px;
  padding-left: 70px;
}

.button-center {
  margin: 0 auto;
  display: block;
  border-radius: 20px;
  background-color: #ffc700;
  border-color: #ffc700;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 23px;
  min-width: 200px;
}

.forgot-pass {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: center;
  color: grey;
  margin-top: 15px;
}
